     
iframe {
    margin-left:10%;
    font-size: 20px;
    width: 80%;
    height: 51%;
    border: #990000 solid medium
    }    
.middle{float: right;
        margin-right: 20%;
        text-align: center;
        width: 30%;
        color: white;
        
    }

    aside, div#bloc1 {
    width: 85%;
    height: 1100px;
    background-color: rgba(0,0,0,0.75);
    float: right;
    margin-Right: 6.5%; 
    margin-top:30px;
    }

